# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.java text eol=crlf
*.json text eol=crlf
*.yaml text eol=crlf
*.yml text eol=crlf
*.text text eol=crlf
*.txt text eol=crlf
*.md text eol=crlf
*.xml text eol=crlf