<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
		<h2>Test Transformations</h2>
        <form method="POST" enctype="multipart/form-data" action="/test">
            <table>
                <tr><td><div style="text-align:right">file</div></td><td><input type="file" name="file" /></td></tr>
                <tr><td><div style="text-align:right">Direct Url</div></td><td><input type="text" name="directAccessUrl"/></td></tr>
                <tr><td><div style="text-align:right">sourceMimetype</div></td><td><input type="text" name="sourceMimetype" value="image/jpeg" /></td>
                  <td><select name="_sourceMimetype">
                    <option value="" >-- file extension --</option>
                    <option value="image/jpeg" >jpeg</option>
                    <option value="image/png">png</option>
                    <option value="application/pdf">pdf</option>
                    <option value="application/vnd.openxmlformats-officedocument.wordprocessingml.document">docx</option>
                    <option value="application/vnd.openxmlformats-officedocument.presentationml.slideshow">ppsx</option>
                    <option value="text/html">html</option>
                    <option value="text/plain">text</option>
                  </select></td></tr>
                <tr><td><div style="text-align:right">targetMimetype</div></td><td><input type="text" name="targetMimetype" value="image/png" /></td>
                    <td><select name="_targetMimetype">
                        <option value="" >-- file extension --</option>
                        <option value="image/jpeg" >jpeg</option>
                        <option value="image/png">png</option>
                        <option value="application/pdf">pdf</option>
                        <option value="application/vnd.openxmlformats-officedocument.wordprocessingml.document">docx</option>
                        <option value="application/vnd.openxmlformats-officedocument.presentationml.slideshow">ppsx</option>
                        <option value="text/html">html</option>
                        <option value="text/plain">text</option>
                    </select></td></tr>
                <tr><td><select name="name0">
                    <option value="sourceEncoding" >sourceEncoding</option>
                    <option value="targetEncoding">targetEncoding</option>
                    <option value="page">page</option>
                    <option value="width">width</option>
                    <option value="height">height</option>
                    <option value="allowPdfEnlargement">allowPdfEnlargement</option>
                    <option value="maintainPdfAspectRatio">maintainPdfAspectRatio</option>
                    <option value="startPage">startPage</option>
                    <option value="endPage">endPage</option>
                    <option value="alphaRemove">alphaRemove</option>
                    <option value="autoOrient">autoOrient</option>
                    <option value="cropGravity">cropGravity</option>
                    <option value="cropWidth">cropWidth</option>
                    <option value="cropHeight">cropHeight</option>
                    <option value="cropPercentage">cropPercentage</option>
                    <option value="cropXOffset">cropXOffset</option>
                    <option value="cropYOffset">cropYOffset</option>
                    <option value="thumbnail">thumbnail</option>
                    <option value="resizeWidth">resizeWidth</option>
                    <option value="resizeHeight">resizeHeight</option>
                    <option value="resizePercentage">resizePercentage</option>
                    <option value="allowEnlargement">allowEnlargement</option>
                    <option value="maintainAspectRatio">maintainAspectRatio</option>
                    <option value="commandOptions">commandOptions</option>
                    <option value="timeout">timeout</option>
                    <option value="includeContents">includeContents</option>
                    <option value="notExtractBookmarksText">notExtractBookmarksText</option>
                    <option value="pageLimit">pageLimit</option>
                </select></td><td><input type="text" name="value0" /></td></tr>
                <tr><td><select name="name1">
                    <option value="sourceEncoding">sourceEncoding</option>
                    <option value="targetEncoding">targetEncoding</option>
                    <option value="page">page</option>
                    <option value="width" >width</option>
                    <option value="height">height</option>
                    <option value="allowPdfEnlargement">allowPdfEnlargement</option>
                    <option value="maintainPdfAspectRatio">maintainPdfAspectRatio</option>
                    <option value="startPage">startPage</option>
                    <option value="endPage">endPage</option>
                    <option value="alphaRemove">alphaRemove</option>
                    <option value="autoOrient">autoOrient</option>
                    <option value="cropGravity">cropGravity</option>
                    <option value="cropWidth">cropWidth</option>
                    <option value="cropHeight">cropHeight</option>
                    <option value="cropPercentage">cropPercentage</option>
                    <option value="cropXOffset">cropXOffset</option>
                    <option value="cropYOffset">cropYOffset</option>
                    <option value="thumbnail">thumbnail</option>
                    <option value="resizeWidth" selected="selected">resizeWidth</option>
                    <option value="resizeHeight">resizeHeight</option>
                    <option value="resizePercentage">resizePercentage</option>
                    <option value="allowEnlargement">allowEnlargement</option>
                    <option value="maintainAspectRatio">maintainAspectRatio</option>
                    <option value="commandOptions">commandOptions</option>
                    <option value="timeout">timeout</option>
                    <option value="includeContents">includeContents</option>
                    <option value="notExtractBookmarksText">notExtractBookmarksText</option>
                    <option value="pageLimit">pageLimit</option>
                </select></td><td><input type="text" name="value1" value="200" /></td></tr>
                <tr><td><select id="name2">
                    <option value="sourceEncoding">sourceEncoding</option>
                    <option value="targetEncoding">targetEncoding</option>
                    <option value="page">page</option>
                    <option value="width">width</option>
                    <option value="height">height</option>
                    <option value="allowPdfEnlargement">allowPdfEnlargement</option>
                    <option value="maintainPdfAspectRatio">maintainPdfAspectRatio</option>
                    <option value="startPage">startPage</option>
                    <option value="endPage">endPage</option>
                    <option value="alphaRemove">alphaRemove</option>
                    <option value="autoOrient">autoOrient</option>
                    <option value="cropGravity">cropGravity</option>
                    <option value="cropWidth">cropWidth</option>
                    <option value="cropHeight">cropHeight</option>
                    <option value="cropPercentage">cropPercentage</option>
                    <option value="cropXOffset">cropXOffset</option>
                    <option value="cropYOffset">cropYOffset</option>
                    <option value="thumbnail">thumbnail</option>
                    <option value="resizeWidth">resizeWidth</option>
                    <option value="resizeHeight" selected="selected">resizeHeight</option>
                    <option value="resizePercentage">resizePercentage</option>
                    <option value="allowEnlargement">allowEnlargement</option>
                    <option value="maintainAspectRatio">maintainAspectRatio</option>
                    <option value="commandOptions">commandOptions</option>
                    <option value="timeout">timeout</option>
                    <option value="includeContents">includeContents</option>
                    <option value="notExtractBookmarksText">notExtractBookmarksText</option>
                    <option value="pageLimit">pageLimit</option>
                </select></td><td><input type="text" name="value2" value="150" /></td></tr>
                <tr><td><select name="name3">
                    <option value="sourceEncoding">sourceEncoding</option>
                    <option value="targetEncoding">targetEncoding</option>
                    <option value="page">page</option>
                    <option value="width">width</option>
                    <option value="height">height</option>
                    <option value="allowPdfEnlargement">allowPdfEnlargement</option>
                    <option value="maintainPdfAspectRatio">maintainPdfAspectRatio</option>
                    <option value="startPage">startPage</option>
                    <option value="endPage">endPage</option>
                    <option value="alphaRemove">alphaRemove</option>
                    <option value="autoOrient">autoOrient</option>
                    <option value="cropGravity">cropGravity</option>
                    <option value="cropWidth">cropWidth</option>
                    <option value="cropHeight">cropHeight</option>
                    <option value="cropPercentage">cropPercentage</option>
                    <option value="cropXOffset">cropXOffset</option>
                    <option value="cropYOffset">cropYOffset</option>
                    <option value="thumbnail" selected="selected">thumbnail</option>
                    <option value="resizeWidth">resizeWidth</option>
                    <option value="resizeHeight">resizeHeight</option>
                    <option value="resizePercentage">resizePercentage</option>
                    <option value="allowEnlargement">allowEnlargement</option>
                    <option value="maintainAspectRatio">maintainAspectRatio</option>
                    <option value="commandOptions">commandOptions</option>
                    <option value="timeout">timeout</option>
                    <option value="includeContents">includeContents</option>
                    <option value="notExtractBookmarksText">notExtractBookmarksText</option>
                    <option value="pageLimit">pageLimit</option>
                </select></td><td><input type="text" name="value3" value="true" /></td></tr>
                <tr><td><select name="name4">
                    <option value="sourceEncoding">sourceEncoding</option>
                    <option value="targetEncoding">targetEncoding</option>
                    <option value="page">page</option>
                    <option value="width">width</option>
                    <option value="height">height</option>
                    <option value="allowPdfEnlargement">allowPdfEnlargement</option>
                    <option value="maintainPdfAspectRatio">maintainPdfAspectRatio</option>
                    <option value="startPage">startPage</option>
                    <option value="endPage">endPage</option>
                    <option value="alphaRemove">alphaRemove</option>
                    <option value="autoOrient">autoOrient</option>
                    <option value="cropGravity">cropGravity</option>
                    <option value="cropWidth">cropWidth</option>
                    <option value="cropHeight">cropHeight</option>
                    <option value="cropPercentage">cropPercentage</option>
                    <option value="cropXOffset">cropXOffset</option>
                    <option value="cropYOffset">cropYOffset</option>
                    <option value="thumbnail">thumbnail</option>
                    <option value="resizeWidth">resizeWidth</option>
                    <option value="resizeHeight">resizeHeight</option>
                    <option value="resizePercentage">resizePercentage</option>
                    <option value="allowEnlargement">allowEnlargement</option>
                    <option value="maintainAspectRatio">maintainAspectRatio</option>
                    <option value="commandOptions">commandOptions</option>
                    <option value="timeout">timeout</option>
                    <option value="includeContents">includeContents</option>
                    <option value="notExtractBookmarksText">notExtractBookmarksText</option>
                    <option value="pageLimit">pageLimit</option>
                </select></td><td><input type="text" name="value4" value="" /></td></tr>
                <tr><td><input type="text" name="name5" value="" /></td><td><input type="text" name="value5" value="" /></td></tr>
                <tr><td><input type="text" name="name6" value="" /></td><td><input type="text" name="value6" value="" /></td></tr>
                <tr><td><input type="text" name="name7" value="" /></td><td><input type="text" name="value7" value="" /></td></tr>
                <tr><td><input type="text" name="name8" value="" /></td><td><input type="text" name="value8" value="" /></td></tr>
                <tr><td><input type="text" name="name9" value="" /></td><td><input type="text" name="value9" value="" /></td></tr>
                <tr><td><input type="text" name="name10" value="" /></td><td><input type="text" name="value10" value="" /></td></tr>
                <tr><td><input type="text" name="name11" value="" /></td><td><input type="text" name="value11" value="" /></td></tr>
                <tr><td><input type="text" name="name12" value="" /></td><td><input type="text" name="value12" value="" /></td></tr>
                <tr><td><input type="text" name="name13" value="" /></td><td><input type="text" name="value13" value="" /></td></tr>
                <tr><td><input type="text" name="name14" value="" /></td><td><input type="text" name="value14" value="" /></td></tr>
                <tr><td><div style="text-align:right">timeout</div></td><td><input type="text" name="timeout" value="" /></td></tr>
				<tr><td></td><td><input type="submit" value="Transform" /></td></tr>
            </table>
        </form>
    </div>
    <div>
        Test
        <a href="/log">Log</a>
        <a href="/ready">Ready</a>
        <a href="/live">Live</a>
        <a href="/transform/config?configVersion=9999">Config</a>
    </div>
</body>
</html>
