queue:
  engineRequestQueue: ${TRANSFORM_ENGINE_REQUEST_QUEUE:org.alfresco.transform.engine.aio.acs}
transform:
  core:
    version: @project.version@
    pdfrenderer:
        exe: ${PDFRENDERER_EXE:/usr/bin/alfresco-pdf-renderer}
    libreoffice:
        path: ${LIBREOFFICE_HOME:/opt/libreoffice7.2}
        maxTasksPerProcess: ${LIBREOFFICE_MAX_TASKS_PER_PROCESS:200}
        timeout: ${LIBREOFFICE_TIMEOUT:1200000}
        portNumbers: ${LIBREOFFICE_PORT_NUMBERS:8100}
        templateProfileDir: ${LIBREOFFICE_TEMPLATE_PROFILE_DIR:default_alfresco}
        isEnabled: ${LIBREOFFICE_IS_ENABLED:true}
    imagemagick:
        root: ${IMAGEMAGICK_ROOT:/usr/lib64/ImageMagick-7.1.2}
        dyn: ${IMAGEMAGICK_DYN:/usr/lib64/ImageMagick-7.1.2/lib}
        exe: ${IMAGEMAGICK_EXE:/usr/bin/convert}
        coders: ${IMAGEMAGICK_CODERS:}
        config: ${IMAGEMAGICK_CONFIG:}
        commandOptions:
          enabled: ${IMAGEMAGICK_COMMAND_OPTIONS_ENABLED:false}
    tika:
        pdfBox:
          notExtractBookmarksTextDefault: ${PDFBOX_NOTEXTRACTBOOKMARKS_DEFAULT:false}
        exifTool:
          windowsOS: 'exiftool -args -G1 -sep "|||" #{"$"}{INPUT}'
          unixOS: 'env FOO=#{"$"}{OUTPUT} exiftool -args -G1 -sep "|||" #{"$"}{INPUT}'
    misc:
        pdfBox:
          defaultFont: ${MISC_PDFBOX_DEFAULT_FONT:NotoSans-Regular}
        htmlOptions:
          collapseHtml: ${MISC_HTML_COLLAPSE:true}
